body{
       min-height: 1600px;
      background-color: #f5f4f4;
    color:#555;
     }



@media (max-width:800px){
    .container {
	width:100%;
    padding:0 2px;
    }
    
    a{font-size: 14px;color: #1e80d4;}
}
p {
    margin: 4px 8px;
    line-height: 20px;
    color: #555;
    font-size: 13px;
}
@media (min-width:800px){
    .container {
	width: 66%;

    }
    a{color: #1e80d4;font-size: 16px;}
}
p{
    margin: 3px 8px;
    line-height: 24px;
    color: #555;
}
@media (max-width:720px){
    .form-signin{
	padding: 15px 20px;
	margin: 0 auto;
	border: 1px solid #ddd;
    border-radius: 5px;
	width: 335px;
	background-color: rgba(255,255,255,1);
	position:fixed;
	left: 15px; right: auto;top: 10%;bottom: auto;
    z-index: 9999;
    }
    .header .switch {
	height:45px;
	position:absolute;
	left:15%;
	bottom:0;
	font-size:16px;
	margin-left: 0px;
    }
}

@media (min-width:721px){
    .form-signin{
	padding: 15px 20px;
	margin: 0 auto;
	border: 2px solid #ddd;
    border-radius: 5px;
	width: 380px;
	background-color: rgba(255,255,255,1);
	position:fixed;
	left: 40%; right: auto;top: 10%;bottom: auto;
    z-index: 9999;
    }
    .header .switch {
	height:45px;
	position:absolute;
	left:20px;
	bottom:0;
	font-size:16px;
	margin-left: 40px;
    }
}


@media(max-width: 800px){
    .main{
    padding: 10px 0px;
    border: 4px;
    background-color:#f5f5f5;
}
    .left0{
    position: relative;
    float: left;
    padding-left: 5px;
}
.right0{
    position: relative;
    padding: 0px 8px;
    margin-left: 50px;
    font-size: 14px;

}
.left-bottom {
    position: relative;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 4px;
    border-top: 2px solid#75cbff;
    box-shadow: 0px 0px 3px rgba(47, 47, 47, 0.17);
    margin-bottom: 10px;
    
}

.right-bottom {
    
    
    position: relative;
    
    height: 500px;
    
}
.row.top {
    box-shadow:0px 1px 3px #e2e2e2;
    border-top: 3px solid#75cbff;
    margin-bottom: 8px;
    border-radius: 3px;
    padding: 15px 5px;
    background-color: #fff;
   position: relative;
}
    .time{
  position: absolute;
    top: 2px;
    right: 8px;
    font-size: 12px;
    color: #bfbfbf;
}
    .t-right-0 {
    margin-left: 105px;
    position: relative;
    padding-left: 15px;
    border-left: 1px dashed#cacaca;
    height: 90px;
}
    .t-left-0 {
    position: relative;
    left: 3%;
   float: left;
}
}



@media(min-width: 800px){
    .main{
    padding: 25px 30px;
    border: 4px;
    background-color:#fdfdfd;
}
    .left0{
    position: relative;
    width: 8%;
    float: left;
    padding-left: 20px;
}
   .right0{
    position: relative;
    
    padding: 0px 17px;
    margin-left: 67px;
    font-size: 14px;
}
.navbar {
    margin-bottom: 10px;
    border-radius: 4px;
}
.personal{
    position: relative;
    display: inline-block;
}
.left-bottom {
    float: left;
    width: 25%;
    height: 500px;
    border-radius: 4px;
    border-top: 3px solid#75cbff;
    box-shadow: 0px 1px 3px #d4d4d4;
    padding: 10px 10px;
    position: relative;
}
    .left-bottom-20{
        width: 20%;
    }

.right-bottom {
    float: left;
    width: 73%;
    position: relative;
    left: 20px;
    height: 500px;
    
}
    .right-bottom-78{
        width: 78%;
    }
    .row.top {
    box-shadow:0px 1px 3px #e2e2e2;
    border-top: 3px solid#75cbff;
    margin-bottom: 15px;
    border-radius: 3px;
    padding: 15px 5px;
    background-color: #fff;
}
    .time{
  position: absolute;
  top: 18px;
    right: 20px;
    font-size: 14px;
    color: #a29c9c;
}
 .t-right-0 {
    margin-left: 165px;
    position: relative;
    padding:3px 10px;
    border: 1px dashed#eee;
}  
 .t-left-0 {
    position: relative;
    left: 5%;
   float: left;
}
}



@media (max-width: 800px){
.container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}
.navbar {
    margin-bottom: 0px;
    border-radius: 7px;
    box-shadow: 1px 1px 2px rgba(230, 230, 230, 0.83);
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-form .form-group{float: left;}

.btn-default{float: left;}
.btn-primary{float: left;background-color: #00a1d6;}

.personal{
    position: absolute;
    top: 3px;
    right: 50px;
}
}


.navbar-nav {
    margin: 0px -8px;
}
.navbar-form {margin-top: 3px;margin-bottom: 0px;}
.navbar-toggle{margin-right: 0px;}


.information{

    width: 200px;
    height: 120px;
    position: absolute;
    top: 48px;
    right:-50px;
    background-color: #fff;
    border-top: 2px solid #2fbbf3;
    border-radius: 4px;
    display: none;
    box-shadow: 1px 0px 3px #d2d2d2;
}
.information span{
    display:block;
    width:0;
    height:0;
    border-width:0 9px 9px;
    border-style:solid;
    border-color:transparent transparent #2fbbf3;
    position:absolute;
    top:-10px;
    left:120px;
}

.falafel:before {
        background: #70aff3;
    border-radius: 50%;
    -webkit-box-shadow: 1em 0 0 #eee, -1em 0 0 #eee;
    box-shadow: 0.9em 0 0 #6aaaef, -0.9em 0px 0px 0px #6aaaef;
    content: "";
    height: 0.6em;
    left: 1.2em;
    position: absolute;
    top: 1.2em;
    width: 0.6em;
}


.inner{
    padding: 3px 8px;
}

.title{
    overflow: hidden;
    margin-left: 8px;
}

.carousel-indicators{position: absolute;
    bottom: 0px;}

.carousel{border-radius: 3px;}
.header {
    height:50px;
    border-bottom:1px solid #e2e2e2;
    position:relative;
    font-family:"Microsoft Yahei";
}

.header .switch .switch_btn {
    color:#999;
    display:inline-block;
    height:45px;
    line-height:45px;
    outline:none;
    *hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn_focus {
    color:#333;
    display:inline-block;
    height:45px;
    line-height:45px;
    outline:none;
    *hide-focus:expression(this.hideFocus=true);
}
.header .switch .switch_btn:hover {
    color:#333;
    text-decoration:none;
}
.header .switch .switch_btn_focus:hover {
    text-decoration:none;
}
#switch_bottom {
    position:absolute;
    bottom:-2px;_bottom:1px;
    border-bottom:2px solid #848484;
}

.button_blue
{
	display:inline-block;
	float:left;
	height:33px;border-radius:4px;
	background:#2795dc;border:none;cursor:pointer;
	border-bottom:3px solid #0078b3;*border-bottom:none;
	color:#fff;
	font-size:16px;padding:0 10px;*width:140px;
	text-align:center;outline:none;font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
}


.button {
    line-height: 1.3333333;
    color: #59a9ef;
    background-color: #fff;
    border-color: #1a3248;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 3px;
}
.two{background-color:#59a9ef; color:#fff; margin-top: 5px;}
.button:hover{color: #448fd0;}

.233{
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
    line-height: 1.40000000;
    background-color: #00a1d6;
}

.btn-lg{
    padding: 8px 10px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.input-tips2{
	margin-top: 5px;
	margin-bottom: 0px;
	font-size: 16px;
}

footer{
	position:relative;
    bottom:-15px;
	width: 100%;
}

hr{
	margin-bottom: 5px;
    margin-top: 5px;
/*    border-bottom: 1px solid #f3f3f3;*/
    
}

.guan{
	position: absolute;
	right: 0px;top: 0px;
    color:#6b6b6b;
    padding:5px 8px;
    margin:-2px -5px -5px;
    font:bold 18px/18px simsun;
    text-shadow:0 1px 0 #ddd;
    
}

.guan:hover {
    color:#f00;
}

.kaoyou{
	position: absolute;
    right: 0px;
}


a:hover{text-decoration: none;color:#439eff;}


*,
*::after,
*::before {
    box-sizing: border-box;
}

.tanchubeijing{
    z-index: 9998;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.4;
    filter:alpha(opacity=40);
    display:none
}



.pagination{
    display:inline-block;padding-left:0;margin:5px 1px;border-radius:4px;box-shadow: 1px 1px 1px #eee;
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,
.pagination>.active>span:focus,.pagination>.active>span:hover
{
    z-index:3;color:#fff;cursor:default;background-color: #2884d4;
    border-color: #3889ce;
}
.pagination>li>a, .pagination>li>span{
    padding: 4px 11px;
}

.pclass{
    font-family:  Alegreya Sans, sans-serif;
    float: left;
    font-size: 20px;
    color: #555;

    margin-left: 5px;

}

.part{
    width: 100%;
    padding: 15px 0px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e6e6e6;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 10px;
    margin-top: 1px;
    
    box-shadow: 1px 0px 2px rgba(47, 47, 47, 0.17);
    border-radius: 3px;
    border-top: 2px solid #75cbff;
    background-color: #fff;
    position: relative;
}
.row{
    margin: 0px 0px;
    position: relative;
}

.book{
    
    width: 50px;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0;
}
.photo{
    height: 44px;
    width: 44px;
    border-radius: 22px;
}
.comment{
    margin-top: 7px;
    padding:5px 5px;
    border-radius: 4px;
    background-color: #f6f6f6;
    position:relative;
/*    box-shadow: 1px 1px 1px #ececec;*/

}


.comment span{
    width: 0;
    height: 0;
    border-width: 0px 17px 12px 0;
    border-style: solid;
    border-color: transparent #f5f5f5 transparent transparent;
    position: absolute;
    left: -13px;
}

.pencil-box {
    float: left;
    width: 30px;
    height: 27px;
    border-radius: 2px;
    border: 1px solid #696969;
    border-color: #cecece;
    background-color: #e4e4e4;
    position: relative;
    
}
.pencil {
    position: relative;
    width: 0.3em;
    height: 0.7em;
    background: #404040;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    font-size: 1.4em;
    left: 0.55em;
    top: 0.30em;
}

.pencil:before {
    content: "";
    position: absolute;
    top: -0.36em;
    left: -0.01em;
    width: 0.35em;
    height: 0.33em;
    background: #424242;
    border-radius: 0.1em;
}

.pencil:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0.75em;
    left: 0;
    border: solid 0.2em #6fd1ff;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top: solid 0.45em #424242;
}


.three {
    background-color: #59a9ef;
    color: #fff;
    margin-left: 3px;
    box-shadow: 1px 1px 3px #b7b7b7;
    
}
.three:hover{
    background-color: #4d93d0;
    color: #fff;
}
.four{
    background-color: #fff;
    color: #00a1d6;
    font-size:16px; 
    border:2px dashed#00a1d6;
    
    float:right;
    position: relative;
    margin-bottom: 2px;
    padding: 3px 10px;
}
.four:hover{
    background-color: #1caaea;
    color: #fff;
}
.five{
    position: relative;
    float: right;
     background-color: #00a1d6;
    color: #fff;
    margin-right: 0px;
    margin-left: 3px;
    box-shadow: 0px 0px 2px #b7b7b7;
    top: -3px;
    padding: 7px 10px;
}
.five:hover{
    background-color: #4d93d0;
    color: #fff;
}
.user-photo {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 1px 1px 3px #4d93d0;
}

.teacher-photo {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 6px #b9b9b9;
}

.teacher-top {
    padding: 2px;
}

.list {
    list-style-type: none;
    padding-left: 10px;
}


.user-n {
    font-size:17px;text-align:center;margin-bottom:3px;color:#21d1e4;
}

.write {
    display: none;
    
    width: 100%;
    height: 100px;
    position: relative;
    top: -25px;
    bottom: 0px;
    margin-bottom: 10px;
}

.right-top {
    position: relative;
}

.writearea {
    width: 100%;
    height: 100px;
    border-radius: 3px;
    border: 1px solid#59c1ff;
    box-shadow: 0px 0px 5px #d8d8d8;
    overflow: auto;
    background-color: #f7fcff;
    
}

.dianzan {
    width: 30px;
    height: 16px;
    position: absolute;
    bottom: 2px;
    top: auto;
    right: 55px;
    font-size: 16px;
}



.grey{
    color: gray;
    font-size: 15px;
}
.greylist{
    padding-bottom: 3px;
}

.pinglun {
    position: absolute;
    bottom: 2px;
    top: auto;
    right: 15px;
    width: 30px;
    height: 16px;
    font-size: 16px;
}

.n-right {
     position: absolute;
    right: 10px;
    top: 15px;

}



.one {
    position: absolute;
    top: 13px;
    right: 5px;
}


.n-ul {
    padding-left:2px ;
    padding-right: 8px;
    list-style: none;
}

.bluelist {
    margin: 2px 0px;
    font-size: 16px;
}


.t-left-1 {
    float: left;
    margin: 10px 10px;

}

.six {
    background-color: #59a9ef;
    color: #fff;
    margin-right: 7px;
    margin-left: 3px;
    box-shadow: 1px 1px 3px #b7b7b7;
    padding: 5px 10px;
    font-size: 8px;
}

.t-right-1 {
    margin-left: 140px;
    position: relative;
    padding-left: 15px;
    border-left: 1px dashed#cacaca;
    height: 150px;
}

.sb-1 {
    float: left;
    font-size: 15px;
}

.sb-2 {
    float: left;
    
}

.sb {
    line-height: 28px;
     overflow: hidden;
}
